.dark {
  background: linear-gradient(rgb(68, 119, 148), rgb(150, 173, 207), rgb(37, 114, 158)) fixed;
}

.light {
  background: linear-gradient(rgb(44, 41, 38), rgb(150, 173, 207), rgb(44, 41, 38) fixed);
}

#title {
  font-size: 500%;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: white;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-family: 'Signika Negative', sans-serif;
}

.left-sidebar, .right-sidebar,#popup, .foot{
  border: 5px solid black;
  margin: auto;
  border-radius: 20px;
  height: 500px;
  background-color: rgb(85, 90, 92);
  color: white;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Signika Negative', sans-serif;
  font-size: 20px;
}

button {
  background-color:rgb(80, 116, 172);
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 20px;
}

#credit-button {
 block-size: fit-content;
}

.fab, .fas{
  font-size: 50px;
  margin: 10px;
  color: white;
}

#sound-icon {
  position: absolute;
  right: 7%;
  top: 3%;
}

.main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-column-gap: 10px;
}

.room {
  margin: auto;
  color:rgb(34, 37, 39)
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.right-sidebar {
  width: 80%;
  display: inline-block;
  overflow-wrap: anywhere;
  overflow: auto;
  text-align: left;
}

.left-sidebar{
  width: 90%;
  justify-content: space-around;
  font-size: 25px;;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px;
  text-align: center;
}

#info-learned li {
  margin: 10%;
}

.foot {
  height: auto;
  width: 70%;
}

footer {
  width: 100%;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.resources {
  position: absolute;
  left: 3%;
  top: 2%;
  color: white;
}

.resource-list {
  display: none;
  border: 5px solid black;
  border-radius: 20px;
  background-color: rgb(85, 90, 92);
  padding: 5px;
  z-index: 1;
}

.resources li {
  border: 5px solid rgb(85, 90, 92);
  background-color: rgb(80, 116, 172);
  font-size: 20px;
  border-radius: 10px;
  padding: 10px
}
.resource-list > li {
  background-color: rgb(46, 73, 131);
}

.info-links li, .rescue-links li {
  text-align: right;
}

.resources:hover .resource-list{
  display: block;
}

.info-links li:hover, .rescue-links li:hover {
  background-color: white;
  color: rgb(80, 116, 172);
}

canvas {
  margin: auto;
}

#popup {
  position: fixed;
  width: 60%;
  height: auto;
  top: 10%;
  left: 20%;
  background-color: rgb(80, 116, 172);
  padding: 5%;
  font-size: 20px;
  font-size: 2vw;
  font-weight: bold;
  color: black;
  text-shadow: 0 0;

}
.bunny-image {
  width: 20%;
  height: auto;
}

#info-learned {
  list-style-position: inside;
  /* list-style-image: url('../src/images/brown/brown_happy.PNG'); */
}

@media screen and (max-width: 1500px) {
  .right-sidebar{
    display: none;
  }
}

.credits {
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

/* canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
} */
