body {
  /* background-color: rgb(173,216,230); */
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
}

#title {
  font-size: 200px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: rgb(173,216,230);
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  font-size: 50px;
  position: relative;
}

#sound-icon {
  font-size: 50px;
  position: absolute;
  right: 7%;
  top: 3%;
}
.heading {
  font-size: 20px;
  /* font-weight: bold; */
  text-decoration: underline;
  padding: 10px;
}

.main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-column-gap: 10px;
}

.room {
  margin: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.left-sidebar, .right-sidebar,#popup, .links{
  border: 5px solid black;
  margin: auto;
  border-radius: 5px;
  height: 500px;
  background-color: rgb(173,216,230);
  box-sizing: border-box;
  text-align: center;
  
}

.right-sidebar {
  width: 80%;
  display: inline-block;
}

.left-sidebar, .footer{
  width: 90%;
}

.links {
  height: 50px;
  width: 70%;
  margin-top: 20px;
}

footer {
  width: 100%;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links a {
  padding: 5px;
  color: black;
  height: auto;
  text-decoration: none;
}

canvas {
  margin: auto;
}

#popup {
  position: fixed;
  width: 60%;
  height: auto;
  top: 10%;
  left: 20%;
  background-color: bisque;
  padding: 5%;
  font-size: 20px;
  font-size: 2vw;
  font-weight: bold;
}
.bunny-image {
  width: 20%;
  height: auto;
}

#info-learned {
  /* list-style-position: inside; */
}

@media screen and (max-width: 1500px) {
  .right-sidebar{
    display: none;
  }
}

/* canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
} */
.hidden {
  display: none;
}
/* h1:hover + .popup {
  display: flex;
} */