body {
  background-color: 'white';
  
}

h1 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: rgb(59, 169, 169);
  font-size: 50px;
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-column-gap: 10px;
  margin: 30px;
}

.room {
  margin: auto;
}


.left-sidebar, .right-sidebar, #popup, .links a{
  border: 5px solid black;
  margin: auto;
  border-radius: 5px;
  height: 500px;
  background-color: rgb(59, 169, 169);
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.right-sidebar {
  width: 150px;
}

.left-sidebar{
  width: 200px;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links a {
  padding: 5px;
  color: black;
  height: auto;
  text-decoration: none;
}

canvas {
  margin: auto;
}

#popup {
  position: absolute;
  display: flex;
  /* z-index: 1; */
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  background-color: bisque;
  padding: 5%;
  font-size: 20px;
  font-weight: bold;
}
.bunny-image {
  width: 20%;
  height: auto;
}
.heart-image {
  width: 10px;
  height: auto;
}

@media screen and (max-width: 1150px) {
  .right-sidebar{
    display: none;
  }
}
/* .hiddenImgs {
  display: none;
} */
/* h1:hover + .popup {
  display: flex;
} */