body {
  /* background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-size:cover; */
  /* background: rgb(107,119,122);
  background: linear-gradient(90deg, rgba(107,119,122,1) 0%, rgba(130,175,199,1) 50%, rgba(107,119,122,1) 100%); */
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  font-family: 'Signika Negative', sans-serif;
}

#title {
  font-size: 500%;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: rgb(105, 157, 173);
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  position: relative;
}

#sound-icon {
  font-size: 50px;
  position: absolute;
  right: 7%;
  top: 3%;
}
.heading {
  font-size: 20px;
  /* font-weight: bold; */
  text-decoration: underline;
  padding: 10px;
}

.main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-column-gap: 10px;
}

.room {
  margin: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.left-sidebar, .right-sidebar,#popup, .foot{
  border: 5px solid black;
  margin: auto;
  border-radius: 5px;
  height: 500px;
  background-color: rgb(105, 157, 173);
  box-sizing: border-box;
  text-align: center;
  
}

.right-sidebar {
  width: 80%;
  display: inline-block;
  overflow-wrap: anywhere;
  overflow: auto;
}
#info-learned li {
  margin: 10%;
}

.left-sidebar{
  width: 90%;
}

.foot {
  height: auto;
  width: 70%;
}

footer {
  width: 100%;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links a {
  padding: 20px;
  color: black;
  height: auto;
  text-decoration: none;
}

canvas {
  margin: auto;
}

#popup {
  position: fixed;
  width: 60%;
  height: auto;
  top: 10%;
  left: 20%;
  background-color: rgb(80, 116, 172);
  padding: 5%;
  font-size: 20px;
  font-size: 2vw;
  font-weight: bold;
}
.bunny-image {
  width: 20%;
  height: auto;
}

#info-learned {
  /* list-style-position: inside; */
}

@media screen and (max-width: 1500px) {
  .right-sidebar{
    display: none;
  }
}

/* canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
} */
.hidden {
  display: none;
}
/* h1:hover + .popup {
  display: flex;
} */