body {
  background-color: 'white';
  
}

h1 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: rgb(59, 169, 169);
  font-size: 50px;
}

.main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-column-gap: 10px;
  margin: 30px;
}

.room {
  margin: auto;
}

.left-sidebar {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  margin: auto;
}


.right-sidebar {
  border: 1px solid black;
  margin: auto;

}
.links {
  display: flex;
  justify-content: space-evenly;
}

.links a {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  color: black;
  background-color: rgb(59, 169, 169);
  text-decoration: none;
}

canvas {
  margin: auto;
}