body {
  /* background-image: linear-gradient(rgb(68, 119, 148), rgb(82, 115, 163), rgb(37, 114, 158)); */
  /* background: linear-gradient(#92B1B6, #809da1, #748d91) fixed; */
  background-color: #91A7B2;
}

#title {
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: white;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-family: 'Signika Negative', sans-serif;
}

.left-sidebar, .right-sidebar,#popup, .foot{
  border: 5px solid black;
  margin: auto;
  border-radius: 20px;
  height: 30vw;
  color: white;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.5vw;
  background-color: #526779;
}

.fab, .fas{
  font-size: 3vw;
  margin: 10px;
  color: white;
}

#popup {
  background-color: #E1DED6;
  position: absolute;
  width: 50%;
  height: auto;
  top: 10%;
  left: 25%;
  padding: 2% 5%;
  font-size: 2vw;
  font-weight: bold;
  color: black;
  text-shadow: 0 0;
  max-height: 80%;
}

button {
  background-color:#E1DED6;
  border-radius: 5px;
  padding: 10px;
  color: black;
  font-size: 1.5vw;
  font-weight: bold;
  cursor: pointer;
}

#foster-button:hover, #credit-button:hover, .fa-bars:hover {
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-column-gap: 10px;
}

.room {
  position: relative;
  margin: auto;
  color:rgb(34, 37, 39)
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.right-sidebar {
  width: 80%;
  display: inline-block;
  overflow-wrap: anywhere;
  overflow: auto;
  text-align: left;
  max-height: 30vw;
}

.right-sidebar::-webkit-scrollbar {
  width: 5px;
  height: 90%;
}

.right-sidebar::-webkit-scrollbar-track {
  background: #E1DED6;
  border-radius: 10px;
  margin: 40px 5px;
}

.right-sidebar::-webkit-scrollbar-thumb {
  background: #91A7B2;
  border-radius: 10px;
}

.right-sidebar::-webkit-scrollbar-thumb:hover {
  background: #5f6e75;
}

.left-sidebar{
  width: 80%;
  justify-content: space-around;
  padding: 0 10px;
}

.heading {
  font-size: 2vw;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px;
  text-align: center;
}

#info-learned li {
  margin: 10%;
}

canvas {
  width: 100%;
  height: auto;
  margin: auto;
}

.bunny-image {
  width: 20%;
  height: auto;
}

#info-learned {
  list-style-position: inside;
}

#credit-button {
 block-size: fit-content;
}

#sound-icon {
  position: absolute;
  right: 7%;
  top: 3%;
}

.foot {
  height: auto;
  width: 70%;
}

footer {
  width: 100%;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.resources {
  position: absolute;
  left: 3%;
  top: 2%;
  color: white;
}

.resource-list {
  display: none;
  border: 5px solid black;
  border-radius: 20px;
  background-color: rgb(85, 90, 92);
  padding: 5px;
  z-index: 1;
}

.resources li {
  border: 5px solid rgb(85, 90, 92);
  background-color: #E1DED6;
  font-size: 2vs;
  border-radius: 10px;
  padding: 10px;
  color: black;
}
.resource-list > li {
  background-color: #526779;
  color: white;
}

.info-links li, .rescue-links li {
  text-align: right;
}

.resources:hover .resource-list{
  display: block;
}

.info-links li:hover, .rescue-links li:hover {
  background-color: white;
  color: rgb(80, 116, 172);
}

@media screen and (max-width: 1000px) {
  .right-sidebar{
    display: none;
  }
  .main {
    grid-template-columns: 20% 80%;
  }
}

.credits {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

input[type=submit] {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #526779;
  color: white;
  font-size: 1.5vw;
}

input[type=text] {
  border-radius: 10px;
  padding: 5px;
}

#foster-button, .foster-bunny {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  object-fit: cover;
} 


.rabbit-haven-link:hover {
  color: #91A7B2;
}